# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.mo
local_settings.py
staticfiles/
media/

# SQLite database
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
